#main-title {
    font-size: 4em;
    color: orange;
}

.paragraph-one {
    border: 2px solid lightseagreen;
}

.paragraph-two {
    background-color: lightseagreen;
}

[data-testid='header'] {
    background-color: chocolate;
}

input[required] {
    border: 1px solid blueviolet;
}